<!-- web_app/templates/results.html -->


{% extends "layout.html" %}

{% block content %}
    <h2>Prediction Time</h2>

    <p>Use the form below to get a recommendation strain</p>

    <form action="/strains/recommendation" method="POST">

        <label>Strain - Select at least one:</label>
        <fieldset>      
            <legend>Strain-type?</legend>      
            <input type="checkbox" name="strain_type" value="Sativa">Sativa<br>      
            <input type="checkbox" name="strain_type" value="Hybrid">Hybrid<br>      
            <input type="checkbox" name="strain_type" value="Indica">Indica<br>         
        </fieldset>
        <br>

        
        <label>Feelings/Relief - Select at least one:</label>
        <fieldset>      
            <legend>Feelings/Relief</legend>      
            <input type="checkbox" name="feelings/relief" value="Anxious">Anxious<br>      
            <input type="checkbox" name="feelings/relief" value="Aroused">Aroused<br>      
            <input type="checkbox" name="feelings/relief" value="Creative">Creative<br>
            <input type="checkbox" name="feelings/relief" value="Dizzy">Dizzy<br>
            <input type="checkbox" name="feelings/relief" value="Dry eyes">Dry eyes<br> 
            <input type="checkbox" name="feelings/relief" value="Dry mouth">Dry mouth<br> 
            <input type="checkbox" name="feelings/relief" value="Energetic">Energetic<br> 
            <input type="checkbox" name="feelings/relief" value="Euphoric">Euphoric<br> 
            <input type="checkbox" name="feelings/relief" value="Focused">Focused<br> 
            <input type="checkbox" name="feelings/relief" value="Giggly">Giggly<br> 
            <input type="checkbox" name="feelings/relief" value="Happy">Happy<br> 
            <input type="checkbox" name="feelings/relief" value="Headache">Headache<br> 
            <input type="checkbox" name="feelings/relief" value="Hungry">Hungry<br> 
            <input type="checkbox" name="feelings/relief" value="Paranoid">Paranoid<br> 
            <input type="checkbox" name="feelings/relief" value="Relaxed">Relaxed<br> 
            <input type="checkbox" name="feelings/relief" value="Sleepy">Sleepy<br> 
            <input type="checkbox" name="feelings/relief" value="Talkative">Talkative<br> 
            <input type="checkbox" name="feelings/relief" value="Tingly">Tingly<br> 
            <input type="checkbox" name="feelings/relief" value="Uplifted">Uplifted<br>   
            <input type="checkbox" name="feelings/relief" value="Insomnia">Insomnia<br>      
            <input type="checkbox" name="feelings/relief" value="Headaches">Headaches<br>      
            <input type="checkbox" name="feelings/relief" value="Eye Pressure">Eye Pressure<br>
            <input type="checkbox" name="feelings/relief" value="Spasticity">Spasticity<br>
            <input type="checkbox" name="feelings/relief" value="Seizures">Seizures<br> 
            <input type="checkbox" name="feelings/relief" value="Pain">Pain<br> 
            <input type="checkbox" name="feelings/relief" value="Depression">Depression<br> 
            <input type="checkbox" name="feelings/relief" value="Cramps">Cramps<br> 
            <input type="checkbox" name="feelings/relief" value="Nausea">Nausea<br> 
            <input type="checkbox" name="feelings/relief" value="Stress">Stress<br> 
            <input type="checkbox" name="feelings/relief" value="Muscle Spasms">Muscle Spasms<br> 
            <input type="checkbox" name="feelings/relief" value="Lack of Appetite">Lack of Appetite<br> 
            <input type="checkbox" name="feelings/relief" value="Inflammation">Inflammation<br>
        </fieldset>
        <br>
        
        <label>Flavors - Select at least one:</label>
        <fieldset>      
            <legend>Flavors?</legend>      
            <input type="checkbox" name="flavors" value="Vanilla">Vanilla<br>      
            <input type="checkbox" name="flavors" value="Tobacco">Tobacco<br>      
            <input type="checkbox" name="flavors" value="Tar">Tar<br>
            <input type="checkbox" name="flavors" value="Lavender">Lavender<br>
            <input type="checkbox" name="flavors" value="Butter">Butter<br> 
            <input type="checkbox" name="flavors" value="Peach">Peach<br> 
            <input type="checkbox" name="flavors" value="Grapefruit">Grapefruit<br> 
            <input type="checkbox" name="flavors" value="Skunk">Skunk<br> 
            <input type="checkbox" name="flavors" value="Chestnut">Chestnut<br> 
            <input type="checkbox" name="flavors" value="Grape">Grape<br> 
            <input type="checkbox" name="flavors" value="Apple">Apple<br> 
            <input type="checkbox" name="flavors" value="Pineapple">Pineapple<br> 
            <input type="checkbox" name="flavors" value="Diesel">Diesel<br>
            <input type="checkbox" name="flavors" value="Mango">Mango<br> 
            <input type="checkbox" name="flavors" value="Orange">Orange<br> 
            <input type="checkbox" name="flavors" value="Citrus">Citrus<br> 
            <input type="checkbox" name="flavors" value="Nutty">Nutty<br> 
            <input type="checkbox" name="flavors" value="Plum">Plum<br> 
            <input type="checkbox" name="flavors" value="Woody">Woody<br> 
            <input type="checkbox" name="flavors" value="Pine">Pine<br> 
            <input type="checkbox" name="flavors" value="Chemical">Chemical<br> 
            <input type="checkbox" name="flavors" value="Berry">Berry<br> 
            <input type="checkbox" name="flavors" value="Ammonia">Ammonia<br> 
            <input type="checkbox" name="flavors" value="Flowery">Flowery<br> 
            <input type="checkbox" name="flavors" value="Pepper">Pepper<br> 
            <input type="checkbox" name="flavors" value="Mint">Mint<br> 
            <input type="checkbox" name="flavors" value="Apricot">Apricot<br> 
            <input type="checkbox" name="flavors" value="Tea">Tea<br> 
            <input type="checkbox" name="flavors" value="Pungent">Pungent<br> 
            <input type="checkbox" name="flavors" value="Tropical">Tropical<br> 
            <input type="checkbox" name="flavors" value="Spicy/Herbal">Spicy/Herbal<br> 
            <input type="checkbox" name="flavors" value="Pear">Pear<br> 
            <input type="checkbox" name="flavors" value="Coffee">Coffee<br> 
            <input type="checkbox" name="flavors" value="Violet">Violet<br> 
            <input type="checkbox" name="flavors" value="Tree Fruit">Tree Fruit<br> 
            <input type="checkbox" name="flavors" value="Rose">Rose<br> 
            <input type="checkbox" name="flavors" value="Honey">Honey<br> 
            <input type="checkbox" name="flavors" value="Sage">Sage<br> 
            <input type="checkbox" name="flavors" value="Blue Cheese">Blue Cheese<br> 
            <input type="checkbox" name="flavors" value="Earthy">Earthy<br> 
            <input type="checkbox" name="flavors" value="Strawberry">Strawberry<br> 
            <input type="checkbox" name="flavors" value="Sweet">Sweet<br> 
        </fieldset>
        <br>

        <button>Submit</button>
    </form>
{% endblock %}
